@import "./functions.scss";
@import "./variables.scss";
@import "./mixin.scss";

.main_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .first {
    height: calculate(1200);
    background-position: center;
    background: linear-gradient(
      330.24deg,
      rgba(11, 29, 38, 0) 31.06%,
      #0b1d26 108.93%
    );
    background-image: linear-gradient(to bottom, transparent, #0b1d26),
      url("../img/mountains.jpg");

    .mntn {
      display: flex;
      justify-content: space-between;
      margin: calculate(0) calculate(80);
      padding-top: calculate(80);
      font-family: Chronicle;
      font-size: calculate(32);
      line-height: calculate(38);
      letter-spacing: calculate(1);
      text-transform: capitalize;
      color: $colorWhite;

      .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: calculate(7);

        a {
          margin-right: calculate(15);
          font-family: GarBold;
          font-style: normal;
          font-weight: bold;
          font-size: calculate(18);
          line-height: calculate(22);
          color: $colorWhite;
          text-decoration: none;
        }
      }

      .account {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: calculate(4);
        .acc {
          height: calculate(24);
          width: calculate(24);
        }
        a {
          text-decoration: none;
          font-family: GarBold;
          font-size: calculate(17);
          line-height: calculate(21);
          color: $colorWhite;
        }
      }
    }

    .middle {
      display: flex;
      justify-content: space-between;
      margin-top: calculate(287);
      margin: calculate(287) calculate(80);

      .hiking {
        h2 {
          font-family: GarBold;
          font-style: normal;
          font-weight: 800;
          font-size: calculate(18);
          line-height: calculate(22);
          letter-spacing: calculate(6);
          text-transform: uppercase;
          color: $colorYellow;
          position: relative;
          margin-left: calculate(100);
          margin-bottom: calculate(32);
          text-indent: calculate(32);

          &::before {
            content: "";
            height: calculate(2);
            width: calculate(72);
            background-color: $colorYellow;
            position: absolute;
            left: calculate(-95);
            top: calculate(10);
          }
        }

        p {
          font-family: Chronicle;
          font-style: normal;
          font-size: calculate(53);
          line-height: calculate(53);
          text-transform: capitalize;
          color: $colorWhite;
          margin-bottom: calculate(32);
        }

        .button {
          background-color: transparent;
          border: none;
          color: white;
          font-family: GarBold;
          font-size: calculate(18);
          line-height: calculate(22);
          padding: 0;
          text-align: left;
          cursor: pointer;
          width: calculate(127);
          height: calculate(22);
          background-image: url(../img/arrow_forward_24px.png);
          background-repeat: no-repeat;
          background-size: calculate(16) calculate(24);
          background-position: 100% center;
        }
      }

      .start {
        filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.2));
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: calculate(40);
        height: calculate(240);
        width: calculate(77);

        img {
          height: calculate(240);
        }

        h3 {
          font-family: GarBold;
          font-size: calculate(18);
          line-height: calculate(22);
          text-align: left;
          color: $colorWhite;
        }

        p {
          font-family: GarBold;
          font-size: calculate(18);
          line-height: calculate(22);
          text-align: right;
          color: $colorWhite;
        }
      }

      .follow_us {
        display: flex;
        flex-direction: column;
        gap: calculate(20);
        flex-wrap: wrap;

        .insta {
          height: calculate(20);
          width: calculate(20);
        }
        .twitter {
          height: calculate(17);
          width: calculate(22);
        }
        img {
          align-self: center;
        }

        p {
          margin-top: calculate(30);
          margin-left: calculate(-25);
          transform: rotate(90deg);
          font-family: GarBold;
          font-size: calculate(18);
          line-height: calculate(22);
          color: $colorWhite;
          margin-bottom: calculate(25);
        }
      }
    }
  }
  .second {
    background: #0b1d26;
    padding: 0 calculate(229);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      margin-bottom: calculate(200);
      width: calculate(430);
      height: calculate(600);
    }

    .content {
      width: calculate(1462);
      display: flex;
      justify-content: space-between;

      .article {
        padding: calculate(141) calculate(0) calculate(140) calculate(150);
        position: relative;
        z-index: 3;
      }
      .number1 {
        @include number1;
      }

      .number2 {
        @include number2;
      }

      .number3 {
        @include number3;
      }

      h4 {
        font-family: GarExtrabold;
        font-style: normal;
        font-weight: 800;
        font-size: calculate(18);
        line-height: calculate(22);
        letter-spacing: calculate(6);
        text-transform: uppercase;
        color: $colorYellow;
        position: relative;
        margin-bottom: calculate(27);
        left: calculate(-102);

        &::before {
          content: "";
          height: calculate(2);
          width: calculate(72);
          background-color: $colorYellow;
          position: absolute;
          left: calculate(-116);
          top: calculate(10);
        }
      }

      h2 {
        font-family: Chronicle;
        font-size: calculate(52);
        line-height: calculate(77);
        color: $colorWhite;
        margin-bottom: calculate(27);
      }

      p {
        font-family: GarBold;
        font-style: normal;
        font-weight: bold;
        font-size: calculate(18);
        line-height: calculate(32);
        color: $colorWhite;
        margin-bottom: calculate(27);
      }

      button {
        background-color: transparent;
        border: none;
        color: $colorYellow;
        font-family: GarBold;
        font-size: calculate(18);
        line-height: calculate(22);
        padding: 0;
        text-align: left;
        cursor: pointer;
        width: calculate(127);
        height: calculate(22);
        background-image: url(../img/arrow_downward_24px.png);
        background-repeat: no-repeat;
        background-size: calculate(24) calculate(16);
        background-position: 100% center;
      }
    }
  }
  footer {
    background: #0b1d26;
    display: flex;
    justify-content: space-between;
    padding: 0 calculate(229) calculate(120);

    .lefted {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .centered {
      display: flex;
      flex-direction: column;
      gap: calculate(16);
      margin-left: calculate(174);

      p {
        margin-bottom: (8);
        font-family: GarBold;
        font-size: calculate(24);
        line-height: calculate(32);
        color: $colorYellow;
      }

      a {
        font-family: GarBold;
        font-style: normal;
        font-weight: 500;
        font-size: calculate(18);
        line-height: calculate(32);
        color: $colorWhite;
        text-decoration: none;
      }
    }

    .righted {
      display: flex;
      flex-direction: column;
      gap: calculate(16);
      p {
        margin-bottom: (8);
        font-family: GarBold;
        font-size: calculate(24);
        line-height: calculate(32);
        color: $colorYellow;
      }
      a {
        font-family: GarBold;
        font-style: normal;
        font-weight: 500;
        font-size: calculate(18);
        line-height: calculate(32);
        color: $colorWhite;
        text-decoration: none;
      }
    }
  }
}

@include second_nth;
@include lefted_first_child;
@include lefted_nth-child_second;
@include lefted_nth-child_third;
